body {
    background-color: rgba(255, 0, 0, 0.5);
}

.header {
    color: blue;
    font-family: comic sans;
    font-size:50px;
    text-align: center;
  }

.header h2 {
    color: SeaGreen;
    font-size: 75px;
    text-align: center;
}

.para_head {
    color: red;
    font-size: 60px;
    text-align: center;
}

.para {
    color: black;
    font-size: 45px;
}

.list {
    color: black;
    font-size: 45px;
}
